@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.logo{
    width: 80px;
    height: 80px;
}

.font{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.contenedor_padre{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
}
.grid_productos{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content:space-evenly;
}

.style_card{
    margin-top: 50px;
}

.img_card{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 280px;
}


.style_tabla{
    width: 100%;
    background-color: rgb(190, 190, 190);
    text-align: center;
}
.img_carrito{
    width: 100px;
    height: 100px;
}
.newsletter{
    width: 100%;
    height: 200px;
    background-color: black;
}
.newsletter p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
    padding: 20px;
}

.form_news{

}

.form_news label{
    color: antiquewhite;
}
