@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.logo{
    width: 80px;
    height: 80px;
}

.font{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.contenedor_padre{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.grid_productos{
    width: 1600px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content:space-evenly;
}
.card-body{
    text-align: center;
}
.style_card{
    margin-top: 50px;
}

.img_card{
    height: 100%;
    max-height: 280px;
}

.titulo_card{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.precio{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.titulo_carrito{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.style_tabla{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.img_carrito{
    width: 100px;
    height: 100px;
}
.newsletter{
    width: 100%;
    height: 250px;
    background-color: black;
}
.newsletter p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
    padding: 20px;
}

.form_container{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.form_news{
    display: flex;
}
.form_news label{
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    padding: 10px;
}
.form_news input{
    color: #ffffff;
    width: 300px;
    height: 40px;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 5px;

}

.boton_enviar{
    font-family: 'Poppins', sans-serif;
    color: #f5f5dc;
    background-color: black;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid beige;
    width: 100px;
    height: 40px;
}

.copy{
    font-family: 'Poppins', sans-serif;
    color: beige;
    background-color: black;
    text-align: center;
}